<!DOCTYPE html>
<html ng-app="dashboardApp">

	<head>
		<meta charset='UTF-8'>
		<title>System Monitor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="css/cluster-info.css" rel="stylesheet" >
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/nv.d3.css" rel="stylesheet" type="text/css">
		<link href="css/common-chart.css" rel="stylesheet" type="text/css">
		<link href="css/popup.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/dashboard.css" rel="stylesheet" type="text/css" />
	</head>

	<body ng-controller="mainController">
	
		<div id="page-wrap">
			<h1>System Monitor</h1>
	
			<!-- Nav tabs -->
			<div ng-controller="initTabsController">
			    <ul class="nav nav-tabs" id="tabs" >
			        <li ng-repeat="section in sections" ng-class='{active:isSelected(section)}' >
			            <a href="#{{section.key}}" ng-click="setMaster(section)" data-toggle="tab">{{section.name}}</a>
			        </li>	        
			    </ul>
			</div>
	
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- this is where content will be injected -->
				<div ng-view></div>			
			</div>
		</div>
	
		<!-- library scripts -->
		<script src="js/jquery-2.1.0.min.js"></script>	
		<script src="js/jquery.loadTemplate-1.3.2.min.js"></script>		
		<script src="js/jquery.popup.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/spark-md5.min.js"></script>
				
		<!-- application scripts -->
		<script src="js/dashboard/app.js"></script>
		
		<script type="text/html" id="template">
			<td class="center strong">
				<span data-content="hostname"></span><br>
				<strong><span data-content="status" class="status_dead"></span></strong>
			</td>
			<td class="">Used: <span data-content="memory_usage"></span> <br> Limit: <span data-content="memory_limit"></span></td>
			<td class="center strong"> <span data-content="topology_name"></span></td>
			<td class="center strong"><span data-content="kafka_topic"></span></td>

			<td class="center"><span data-content="partition"></span></td>
			<td class="center smalltext">
				<span data-content="kafka_brokers"></span>
			</td>
			<td class="center strong"><span data-content="data_emitting_counter"></span></td>
			<td class="center"><span data-content="uptime"></span></td>

			<td>
				<span data-content="actor_list"></span>
			</td>
			<td class="center"><span data-content="total_actors"></span></td>
			<td class="center"><span data-content="action"></span></td>
		</script>
		<script type="text/html" id="template-system-events">
			<td><span data-content="order"></span></td>
			<td><span data-content="source"></span></td>
			<td><span data-content="loggedTime"></span></td>
			<td><span data-content="eventDetails"></span></td>
		</script>
		
	</body>

</html>